AWS_REGION=
DYNAMODB_TASKS_TABLE=
DYNAMODB_PROJECTS_TABLE=
DYNAMODB_COMMENTS_TABLE=
DYNAMODB_AUDITLOG_TABLE=
S3_ORIGINALS_BUCKET=
S3_RESIZED_BUCKET=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
PORT=
SNS_TASK_ASSIGNMENT_TOPIC=
